.homeContainer{
    display: flex;
}

.filterVar{
    width: 300px;
    height: calc(100vh - 90px);
    background-color: rgb(245, 245, 245);
}

.results{
    width: 100%;
    height: calc(100vh - 90px);
}

.results h1{
    margin: 30px 0px;
}

.searchbar{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;

}

.searchbar input{
    width: 180px;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    padding: 7px;
}

.searchbar input:focus{
    outline: none;
}

.lista{

    width: 180px;
    position: absolute;
    background-color: rgb(247, 247, 247);
}

.lista div{
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 7px;
    text-decoration: none;
}

.lista div a{
    color: rgb(0, 0, 0);
}

.contenedor_seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_seccion1 h2{
    margin: 10px 0px;
}

.contenedor_seccion1 select{
    padding: 7px 0;
    border: none;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.contenedor_seccion1 button{
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    background-color: #1d52ff;
    color: white;
    cursor: pointer;
}

.searchbardiv{
}

@media (max-width: 1000px) {
    .homeContainer{
        flex-direction: column;
    }

    .filterVar{
        width: 100%;
        height: auto;
    }

    .contenedor_seccion1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: white;
    }
    .contenedor_seccion1 select{
        width: 100px;
        margin-bottom: 0;
        background-color: rgb(233, 233, 233);
        margin: 10px;
    }

    .contenedor_seccion1 button{
        margin: 10px;
    }

    .contenedor_seccion1 h2{
        display: none;
    }
}

@media (max-width: 600px){
    .searchbar{
        display: flex;
        flex-direction: column;
    }


    .pagination{
        margin: 10px;
    }

    .searchbardiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lista{
        bottom: 366px;
    }
}

